$color-app-background: #EEEEEE;
$color-app-header-background: #FFFFFF;
$color-card-header-background: #F6F6F6;
$color-card-background: #FFFFFF;
$color-button-background: #F4F4F4;
$color-text-basic: #717171;
$color-text-secondary: #919191;
$color-text-yellow: #624D04;
$color-text-green: #3C7649;
$color-text-blue: #3684CB;
$color-text-red: #DD4B4B;
