@import '../variables/colors';

.text-basic {
  color: $color-text-basic;
}

.text-secondary {
  color: $color-text-secondary;
}

.text-green {
  color: $color-text-green;
}

.text-blue {
  color: $color-text-blue;
}

.text-red {
  color: $color-text-red;
}

.text-yellow {
  color: $color-text-yellow;
}
